{% extends "base.html" %}

{% block title %}修改密码{% endblock %}

{% block content %}
<div class="content">
	<a href="#" onClick="javascript :history.back(-1);" class="return">&raquo;&nbsp;返回上页</a>
	<div class="change_password_content">
		{% if user.is_changed == False %}
		<h2>修改密码</h2>
		<form method="post" action="/account/changepassword/">
			<span style="color:red; font-weight:bold;">{{msg}}</span>
			<div class="pass">请输入新密码：</div>
			<input type="password" name="password1">
			<div class="pass">请重复输入：</div>
			<input type="password" name="password2">
			<input class="button" type="submit" value="确定">
		</form>
		{% else %}
		<h2>修改成功！</h2>
		{% endif %}
	</div>
</div>
{% endblock %}