<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<title></title>
</head>
<body>
	<!--头部菜单-->
	<div class="menu"> 
		<ul>
			<li style="width:0px;"><a></a></li>
			<li class="active"><a href="/index" class="home">主页</a></li>
			<li><a href="/account/my_orders" class="wishlist">订单</a></li>
			<li><a href="/account" class="account">我的资料</a></li>
			<li><a href="/account/cart" class="cart">购物车</a></li>
			{% if username %}
			<li style="float:right;"><a href="/logout">退出</a></li>
			<li style="float:right;">welcome, {{username}}</li>
				{% else %}
				<li style="float:right;"><a href="/login" class="login">登录</a></li>
				<li style="float:right;"><a href="/regist" class="register">注册</a></li>
			{% endif %}
			
		</ul>
	</div>

	<div class="logo_img1"><a href="default.htm"><img alt="Site Name" src="/static/images/logo.png" height="150" width="450"></a></div>

	<form method="post" action="/search_result/">
    	<input class="search-input1" type="text" name="pro_name" placeholder="我想要……">
		<input class="search-button1" type="submit" value-"搜一下">
	</form>

</body>
</html>